.old-wrapper {
	background: beige;
	padding: 25px 25px;
}

.old-heading-1 {
	background-color: pink;
	color: white;
	font-family: "Caveat", cursive;
	font-size: 36px;
	margin-bottom: 24px;
}

.old-paragraph {
	font-family: "Caveat", cursive;
	font-size: 24px;
	border-style: solid;
	padding: 12px;
	background-color: yellow;
	color: brown;
	margin-bottom: 18px;
}

.old-ordered-list,
.old-heading-3 {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	margin: 12px 0;
}

.old-ordered-list {
	list-style-type: decimal;
	padding: 20px 36px;
}

.old-link {
	font-size: 24px;
	text-decoration: underline;
	color: blueviolet;
}

.old-button {
	font-family: "Caveat", cursive;
	font-size: 24px;
	padding: 15px;
	background-color: violet;
	color: #af00af;
	cursor: pointer;
}

.old-form {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-style: italic;
	border-style: dotted;
	padding: 12px;
}
